<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="keywords" content="ESLint, Linter, Linting, JavaScript" />
    <meta name="description" content="Provides ESLint config comparison." />
    <meta name="theme-color" content="#463fd4" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="ESLint Information" />
    <meta property="og:description" content="Provides ESLint config comparison." />
    <meta property="og:url" content="https://eslint.info" />
    <meta property="og:image" content="/favicon.512x512.png" />
    <meta name="twitter:title" content="ESLint Information" />
    <meta name="twitter:description" content="Provides ESLint config comparison." />
    <meta name="twitter:url" content="https://eslint.info" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="/favicon.512x512.png" />
    <title>ESLint Information - Config Comparison</title>
    <link rel="icon" href="/favicon.512x512.png" />
    <% if (process.env.NODE_ENV === 'production') { %>
      <link rel="stylesheet" href="/styles.css" />
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161166546-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-161166546-1');
      </script>
    <% } %>
  </head>
  <body>
    <header class="header">
      <a class="thumb" href="/">
        <img src="/favicon.512x512.png" alt="ESLint" />
        <span>ESLint Information</span>
      </a>
      <div class="links">
        <a class="link-github" href="https://github.com/wan2land/eslint.info" target="_blank">
          <span>View on Github</span>
          <svg version="1.1" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
        </a>
      </div>
    </header>
    <table>
      <colgroup>
        <col width="300px" />
        <col width="30px" />
        <col width="30px" />
        <col width="30px" />
        <% for (const config of configs) { %>
          <col width="200px" />
        <% } %>
      </colgroup>
      <thead>
        <th></th>
        <th>
          <span class="tooltip" title="Description">📋</span>
        </th>
        <th>
          <span class="tooltip" title="Recommended">⭐️</span>
        </th>
        <th>
          <span class="tooltip" title="Fixable">🔧</span>
        </th>
        <% for (const config of configs) { %>
          <th><%= config.name %></th>
        <% } %>
      </thead>
      <tbody>
        <tr>
          <th colspan="4">Plugins</th>
          <% for (const config of configs) { %>
            <td class="info">
              <% for (const plugin of config.config.plugins) { %>
                <div><a href="https://www.npmjs.com/package/eslint-plugin-<%= plugin %>" target="_blank"><%= plugin %></a></div>
              <% } %>
            </td>
          <% } %>
        </tr>
        <% for (const category of categories) { %>
          <tr>
            <td class="category" colspan="<%= configs.length + 4 %>"><%= category.pkg %><% if (category.category) { %> - <%= category.category %><% } %></td>
          </tr>
          <% for (const rule of category.rules) { %>
            <tr>
              <th>
                <a href="<%= rule.meta.docs.url %>" target="_blank"><%= rule.name %></a>
              </th>
              <td>
                <% if (rule.meta.docs.description) { %><span class="tooltip" title="<%= rule.meta.docs.description %>">📋</span><% } %>
              </td>
              <td>
                <% if (rule.meta.docs.recommended) { %><span class="tooltip" title="Recommended">⭐️</span><% } %>
              </td>
              <td>
                <% if (rule.meta.fixable) { %><span class="tooltip" title="Fixable - <%= rule.meta.fixable %>">🔧</span><% } %>
              </td>
              <% for (const config of configs) { %>
                <% if (config.config.rules[rule.name] && config.config.rules[rule.name][0] === 'off') { %>
                  <td class="off"><pre>off</pre></td>
                <% } else if (config.config.rules[rule.name]) { %>
                  <td class="error">
                    <% if (config.config.rules[rule.name][1]) { %>
                      <pre><%= JSON.stringify(config.config.rules[rule.name][1], null, 2) %></pre>
                    <% } else { %>
                      <pre>(default)</pre>
                    <% } %>
                  </td>
                <% } else { %>
                  <td class="null"></td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>

    <script src="entry.js"></script>
  </body>
</html>
